[Desktop Entry]
Name=FCEUX
Comment=NES/FC Emulator
Exec=fceux.dge
Icon=fceux
Categories=emulators;
X-OD-Manual=fceux.man.txt
X-OD-Selector=/home/retrofw/roms/nes
X-OD-Filter=.zip,.nes,.fds
Terminal=false
Type=Application
StartupNotify=true
